
html {
    position: relative;
    min-height: 100%;

}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    font-family: 'Montserrat', sans-serif;

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.logo {
    margin: 5px;
}

nav {
    background-color: #383232 !important;
}

.footer .container p {
    margin: 0;
}

.footer {
    background: #383232;
    color: #f5f5f5;
}

.container .card {
    margin-top: 3em;
}

.container .card .text-center {
    margin-top: 1em;
}

.card.login {

}

.main-div {
    background: #ffffff none repeat scroll 0 0;

    margin: 10px auto 30px;
    max-width: 38%;
}

.login-form .form-group {
    margin-bottom: 10px;
}

.login-form {
    text-align: center;
}

.login-form .btn.btn-primary {
    background: #bb141a none repeat scroll 0 0;
    color: #ffffff;
    font-size: 16px;
    width: 100%;
    height: 50px;
    padding: 0;
}

.login-form .btn.btn-primary:hover {
    background-color: #770a0e;
}


